## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
def random_combination(low, high, size, seed_num):
    np.random.seed(seed_num)
    country = ['France', 'United State', 'Taiwan', 'Japan',
               'Canada', 'United Kingdom', 'Hong Kong', 'Korea',
               'Germany', 'India']
    if size > len(country):
        raise ValueError('size need to be smaller than {}'.format(len(country)))
        
    population = np.random.randint(low, high, size)
    sel_country = np.random.choice(country, replace=False, size=size)
    
    return population, sel_country

In [6]:
population, country = random_combination(100, 200, 9, 128)

In [7]:
data = {'國家': country,
        '人口': population}
data = pd.DataFrame(data)
data.head(3)

       國家   人口
0   Japan  182
1   Korea  183
2  Canada  182

In [8]:
cond = data['人口'] == data['人口'].max()
data.loc[cond, :]

       國家   人口
5  Taiwan  184